<div layout="row" layout-align="end">
    <img src="./assets/images/cameo_logo.png">
</div>
<md-content class="layout-padding" layout="column" ng-cloak>
    <div class="layout-padding">
        <form ng-submit="pathwaysController.submit()">
            <md-autocomplete ng-repeat="element in pathwaysController.formConfig"
                             flex required
							 ng-disabled="pathwaysController.isDisabled"
                             md-no-cache="pathwaysController.noCache"
                             md-selected-item="pathwaysController.selectedItems[element.attr]"
                             md-search-text="pathwaysController.searchTexts[element.attr]"
                             md-items="item in pathwaysController.querySearch(pathwaysController.searchTexts[element.attr], element.list())"
                             md-item-text="item.value"
                             md-floating-label="{{ element.title }}"
                             md-min-length="2">
                <md-item-template>
                    <span md-highlight-text="pathwaysController.searchTexts[data]" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    Not found
                </md-not-found>
            </md-autocomplete>
            <md-button type="submit" class="md-icon-button">
                <md-icon md-font-set="material-icons"> search </md-icon>
            </md-button>
        </form>
    </div>
	<md-progress-linear ng-if="pathwaysController.isWaiting" md-mode="indeterminate"></md-progress-linear>
    <md-tabs  ng-if="pathwaysController.data.length > 0" md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="(key, value) in pathwaysController.data">
            <md-tab-label>
                <md-icon ng-if="value.reactions.length == value.model.reactions.length" md-font-set="material-icons"> timeline </md-icon>
                Pathway {{ key + 1 }} ({{ value.model.reactions.length }})
            </md-tab-label>
            <md-tab-body>
                <md-content ng-if="value.reactions.length == value.model.reactions.length">
                    <md-content class="layout-padding" ng-repeat="(reaction_index, reaction) in value.reactions">
                        {{ reaction_index + 1 }})
                        <b>{{ value.primary_nodes[reaction_index].name }}</b>: {{ reaction.reaction_string }}
                    </md-content>
                    <md-button class="md-raised md-cornered" ng-click="pathwaysController.escherService.buildMap(value, pathwaysController.mapIdPrefix + '_' + key)">Build reactions graph</md-button>
                    <figure>
                        <div id="{{pathwaysController.mapIdPrefix}}_{{key}}" style="height: 800px; width: 800px"></div>
                    </figure>
                </md-content>
                <md-content ng-if="value.reactions.length != value.model.reactions.length" class="layout-padding" ng-repeat="reaction in value.model.reactions">
                    {{ reaction.annotation.Description }}
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <div layout="row" layout-align="center center">{{ pathwaysController.message }}</div>
</md-content>

